.caveat {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

main {
    top: 10px;
    left: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/動物イラスト.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ribbon {
    display: inline-block;
    position: relative;
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding: 7px 0;
    font-size: 50px;
    /*フォントサイズ*/
    background: khaki;
    /*背景色*/
    color: #FFF;
    /*文字色*/
    box-sizing: border-box;
    margin-top: 10px;
    font-family: caveat;
}

.ribbon h1 {
    margin: 0;
    padding: 0 30px;
    border-top: dashed 1px #FFF;
    /*上の破線*/
    border-bottom: dashed 1px #FFF;
    /*下の破線*/
    line-height: 46px;
}

.ribbon:before,
.ribbon:after {
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    z-index: 1;
}

.ribbon:before {
    /*左端の山形*/
    top: 0;
    left: 0;
    border-width: 30px 0px 30px 15px;
    border-color: transparent transparent transparent #fff;
    border-style: solid;
}

.ribbon:after {
    /*右端の山形*/
    top: 0;
    right: 0;
    border-width: 30px 15px 30px 0px;
    border-color: transparent #fff transparent transparent;
    border-style: solid;
}

.mainbox {
    width: 100%;
    margin-top: 50px;
}

.box01 .box-title {
    /*セロテープ風*/
    background-color: rgba(255, 255, 255, .1);
    /* テープ背景色と透過*/
    border-left: 2px dotted rgba(0, 0, 0, .1);
    /* テープのギザギザ左*/
    border-right: 2px dotted rgba(0, 0, 0, .1);
    /* テープのギザギザ右*/
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    /*テープ影*/
    transform: rotate(-2deg);
    /*テープの傾き*/
    font-size: 1em;
    /*タイトル文字の大きさ*/
    color: #666;
    /*タイトル文字色 */
    padding: 10px 20px;
    /*タイトルの余白*/
    line-height: 1;
    /*タイトルの行の高さ*/
    top: -15px;
    /*上から（-10px）移動*/
}

.box01 {
    display: flex;
    justify-content: space-evenly;
}

.box01-left {
    width: 30%;
    /* ボックス背景色 */
    background-color: white;
    /* ボックス内側余白 */
    margin: 2em 2em;
    /* 配置(ここを基準に) */
    padding: 2.5em 2em 2em;
    position: relative;
    padding: 0.2em 0.5em;
    background: #d6ebff;
    box-shadow: 0px 0px 0px 10px #d6ebff;
    border: dashed 2px white;
}

/* チェックボックス01 */
input[type=checkbox] {
    display: none;
}

.checkbox-Mon>label {
    /*チェックボックス縦並び*/
    margin-top: 20px;
    display: block;
    cursor: pointer;
}
.checkbox-Tue>label {
    /*チェックボックス縦並び*/
    margin-top: 20px;
    display: block;
    cursor: pointer;
}
.checkbox-Wed>label {
    /*チェックボックス縦並び*/
    margin-top: 20px;
    display: block;
    cursor: pointer;
}
.checkbox-Thu>label {
    /*チェックボックス縦並び*/
    margin-top: 20px;
    display: block;
    cursor: pointer;
}
.checkbox-Fri>label {
    /*チェックボックス縦並び*/
    margin-top: 20px;
    display: block;
    cursor: pointer;
}
.checkbox-Sat>label {
    /*チェックボックス縦並び*/
    margin-top: 20px;
    display: block;
    cursor: pointer;
}
.checkbox-Sun>label {
    /*チェックボックス縦並び*/
    margin-top: 20px;
    display: block;
    cursor: pointer;
}

.checkbox01 {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 5px 30px;
    position: relative;
    width: auto;
}

.checkbox01::before {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    content: '';
    display: block;
    height: 16px;
    left: 5px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    width: 16px;
}

.checkbox01::after {
    border-right: 6px solid #fedd1e;
    border-bottom: 3px solid #fedd1e;
    content: '';
    display: block;
    height: 20px;
    left: 7px;
    margin-top: -16px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: rotate(45deg) translate3d(0, 2px, 0) scale3d(.7, .7, 1);
    transition: transform .2s ease-in-out, opacity .2s ease-in-out;
    width: 9px;
}

input[type=checkbox]:checked+.checkbox01::before {
    border-color: #666;
}

input[type=checkbox]:checked+.checkbox01::after {
    opacity: 1;
    transform: rotate(45deg) scale3d(1, 1, 1);
}


.box01-right {
    width: 30%;
    /* ボックス背景色 */
    background-color: #E6ECF2;
    /* ボックスの余白 */
    margin: 2em 2em;
    /* ボックス内側余白 */
    position: relative;
    padding: 0.2em 0.5em;
    background: #FFE4E1;
    box-shadow: 0px 0px 0px 10px #FFE4E1;
    border: dashed 2px white;
}
.tomorrow {
    margin: 20px;
    padding: 8px;
}

.box02 .box-title {
    /*セロテープ風*/
    background-color: rgba(255, 255, 255, .1);
    /* テープ背景色と透過*/
    border-left: 2px dotted rgba(0, 0, 0, .1);
    /* テープのギザギザ左*/
    border-right: 2px dotted rgba(0, 0, 0, .1);
    /* テープのギザギザ右*/
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    /*テープ影*/
    transform: rotate(-2deg);
    /*テープの傾き*/
    font-size: 1em;
    /*タイトル文字の大きさ*/
    color: #666;
    /*タイトル文字色 */
    padding: 10px 20px;
    /*タイトルの余白*/
    line-height: 1;
    /*タイトルの行の高さ*/
    top: -15px;
    /*上から（-10px）移動*/
}

.box02 {
    display: flex;
    justify-content: space-evenly;
}

.box02-left {
    width: 30%;
    /* ボックス背景色 */
    background-color: #E6ECF2;
    margin: 2em 2em;
    /* ボックス内側余白 */
    position: relative;
    padding: 0.2em 0.5em;
    background: #FFE4E1;
    box-shadow: 0px 0px 0px 10px #FFE4E1;
    border: dashed 2px white;
}

.box02-right {
    width: 30%;
    /* ボックス背景色 */
    background-color: #E6ECF2;
    /* ボックスの余白 */
    margin: 2em 2em;
    /* ボックス内側余白 */
    position: relative;
    padding: 0.2em 0.5em;
    background: #d6ebff;
    box-shadow: 0px 0px 0px 10px #d6ebff;
    border: dashed 2px white;
}

.box03 .box-title {
    /*セロテープ風*/
    background-color: rgba(255, 255, 255, .1);
    /* テープ背景色と透過*/
    border-left: 2px dotted rgba(0, 0, 0, .1);
    /* テープのギザギザ左*/
    border-right: 2px dotted rgba(0, 0, 0, .1);
    /* テープのギザギザ右*/
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    /*テープ影*/
    transform: rotate(-2deg);
    /*テープの傾き*/
    font-size: 1em;
    /*タイトル文字の大きさ*/
    color: #666;
    /*タイトル文字色 */
    padding: 10px 20px;
    /*タイトルの余白*/
    line-height: 1;
    /*タイトルの行の高さ*/
    top: -15px;
    /*上から（-10px）移動*/
}

.box03 {
    display: flex;
    justify-content: space-evenly;
}

.box03-left {
    width: 30%;
    /* ボックス背景色 */
    background-color: #E6ECF2;
    margin: 2em 2em;
    /* ボックス内側余白 */
    padding: 2.5em 2em 2em;
    /* 配置(ここを基準に) */
    position: relative;
    padding: 0.2em 0.5em;
    background: #d6ebff;
    box-shadow: 0px 0px 0px 10px #d6ebff;
    border: dashed 2px white;
}

.box03-right {
    width: 30%;
    /* ボックス背景色 */
    background-color: #E6ECF2;
    /* ボックスの余白 */
    margin: 2em 2em;
    /* ボックス内側余白 */
    position: relative;
    padding: 0.2em 0.5em;
    background: #FFE4E1;
    box-shadow: 0px 0px 0px 10px #FFE4E1;
    border: dashed 2px white;
}

.box04 {
    display: flex;
    justify-content: space-evenly;
}

.box04 .box-title {
    /*セロテープ風*/
    background-color: rgba(255, 255, 255, .1);
    /* テープ背景色と透過*/
    border-left: 2px dotted rgba(0, 0, 0, .1);
    /* テープのギザギザ左*/
    border-right: 2px dotted rgba(0, 0, 0, .1);
    /* テープのギザギザ右*/
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    /*テープ影*/
    transform: rotate(-2deg);
    /*テープの傾き*/
    font-size: 1em;
    /*タイトル文字の大きさ*/
    color: #666;
    /*タイトル文字色 */
    padding: 10px 20px;
    /*タイトルの余白*/
    line-height: 1;
    /*タイトルの行の高さ*/
    top: -15px;
    /*上から（-10px）移動*/
}

.box04-left {
    width: 30%;
    /* ボックス背景色 */
    background-color: #E6ECF2;
    margin: 2em 2em;
    /* ボックス内側余白 */
    position: relative;
    padding: 0.2em 0.5em;
    background: #FFE4E1;
    box-shadow: 0px 0px 0px 10px #FFE4E1;
    border: dashed 2px white;
}

.box04-right {
    width: 30%;
    /* ボックス背景色 */
    background-color: #E6ECF2;
    /* ボックスの余白 */
    margin: 2em 2em;
    /* ボックス内側余白 */
    position: relative;
    padding: 0.2em 0.5em;
    background: #CBFFD3;
    box-shadow: 0px 0px 0px 10px #CBFFD3;
    border: dashed 2px white;
}


.score-wrap {
    margin-top: 10px;
    text-align: center;
    color: #696969;

    .score {
        font-size: 80px;
        font-weight: bold;
    }

    .ja {
        font-size: 34px;
    }

    .full {
        font-size: 24px;
    }
}